@charset "UTF-8";
/**
 * 
 * @authors Yi-Fan Wu
 * @create date    2017-05-08 20:02:41
 * Demostraction for my friends
 */

html, body{
    margin: 0px;
    padding: 0px;
    font-family: "LiHei Pro";
}
a{
    text-decoration: none;
    color: #0066FF;
}
a:hover{
    color: #99BBFF;
}

/* Header Menu */
.menu{
    line-height: 100px;
    background-color: #DDFF77;
}
.menu-title, .menu-general, .menu-user{
    display: inline-block;
}
.menu-title{
    width: 400px;
}
.menu-user{
    margin-right: 10px;
    float: right;
}
.menu a{
    color: #227700;
}
.menu a:hover{
    color: #00AA00;
}
.menu span{
    margin: 10px 20px;
    font-size: 20px;
}

/* Main General */
.wrapper{
    margin: 20px auto;  
    text-align: center;
}
.main{
    margin: 0 auto;
    width: 800px;
}
.main, .left-nav{
    display: inline-block;
    vertical-align: top;
}
.left-nav{
    width: 200px;
    margin-right: 10px;
}
.left-nav > .search-area{
    line-height: 100px;
    height: 100px;
    background-color: #444444;
    border-radius: 15px;
}
.left-nav > .type{
    margin-top: 50px;
    padding: 50px 20px;
    background-color: #444444;
    text-align: left;
    border-radius: 15px;
    color: #CCEEFF;
}
.left-nav > .type > li{
    line-height: 40px;
    list-style: none;
    text-align: left;
}
.left-nav > .type > li > a{
    color: #CCEEFF;
}
.left-nav > .type > li > a:hover{
    color: #fff;
}


.list-img, .list-img > img{
    width: 100px;
    height: 100px;
}
.list-img > img{
    background-color: #444444;
}
.list-name, .list-price{
    height: 50px; 
    width: 100%;
    padding: 0px 20px;
}
.list-name{
    vertical-align: bottom;
}
.list-line{
    height: 3px;
    background-color: #444444;
    border: 1px solid #444;
}
.list-cart, .list-cart td{
    border-collapse:collapse;
    border: 1px solid black;
}
.list-cart td{
    line-height: 50px;
    padding: 0px 20px;
}
.list-cart th{
    line-height: 20px;
    padding: 10px 20px;
    text-align: left;
}
.list-cart tfoot td{
    border: 0px;
}
.list-cart .list-img{
    border-right-style: none;
}
.list-table{
    border: 1px solid #227700;
}
.list-header{
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 5px 20px;
    margin-bottom: 10px;
    height: 90px;
}
.list-bottom{
    border-bottom: 1px solid #444444;
}
.list-table, .list-cart{
    box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}
.list-table .list-name, .list-table .list-price{
    text-align: left;
}


.form-table{
    margin-bottom: 20px;
}
.form-table th{
    text-align: right;
}
.form-table th > span{
    color: red;
}
.form-table td{
    padding: 0px 20px;
}

.putCart{
    font-size: 20px;
    padding: 10px 30px;
    background-color: #EE7700;
    border-radius: 15px;
}
