@charset "UTF-8";
/**
 * 
 * @authors Yi-Fan Wu
 * @date    2017-05-08 20:02:41
 * teaching for Cindy
 */
a{
    text-decoration: none;
    color: #0066FF;
}
a:hover{
    color: #99BBFF;
}
.menu{
    text-align: center;
    line-height: 100px;
}
.menu span{
    margin: 10px 20px;
    font-size: 20px;
}

.listTable th, .listTable td{
    width: 100px;
    text-align: center;
}

.formTable{
    margin-bottom: 20px;
}
.formTable th{
    text-align: right;
}
.formTable th > span{
    color: red;
}
.formTable td{
    padding: 0px 20px;
}

.putCart{
    font-size: 20px;
    padding: 10px 30px;
    background-color: #EE7700;
    border-radius: 15px;
}
