@charset "UTF-8";
/**
 * 
 * @authors Yi-Fan Wu
 * @create date    2017-05-08 20:02:41
 * Demostraction for my friends
 */

html, body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #0066FF;
}
a:hover{
    color: #99BBFF;
}

/* Header Menu */
.menu{
    line-height: 100px;
    background-color: #DDFF77;
}
.menu-title, .menu-general, .menu-user{
    display: inline-block;
}
.menu-title{
    width: 400px;
}
.menu-user{
    margin-right: 10px;
    float: right;
}
.menu a{
    color: #227700;
}
.menu a:hover{
    color: #00AA00;
}
.menu span{
    margin: 10px 20px;
    font-size: 20px;
}

.listTable th, .listTable td{
    width: 100px;
    text-align: center;
}

.formTable{
    margin-bottom: 20px;
}
.formTable th{
    text-align: right;
}
.formTable th > span{
    color: red;
}
.formTable td{
    padding: 0px 20px;
}

.putCart{
    font-size: 20px;
    padding: 10px 30px;
    background-color: #EE7700;
    border-radius: 15px;
}
